<h2>Home</h2>
<%= icon('fa-brands', 'font-awesome') %>
<%= icon('fa-solid', 'user-secret') %>
<br />
<%= link_to 'Login', new_admin_session_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"  %>
